<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="gis-project_listing.xsl"?>
<webgis path="/qgiswebclient.html" 
        mapserver="/cgi-bin/qgis_mapserv.fcgi" 
        thumbnails="/thumbnails" 
        title="QGIS Mapserver">
    <topic name="QGIS Hello World">
      <project name="QGIS Hello World" 
               projectpath="/home/web/qgis-web-client/projects/" 
               projectfile="helloworld" 
               format="image/png" 
               visibleLayers="Hello,Country" 
               update="" 
               responsible="The QGIS Project"/>
      <!-- more projects go here -->
    </topic>
    <!-- more topics go here -->
</webgis>
