/* this file contains styles for the landing page showing listing the different projects */

body {background: #fff url(../img/bg.png) top center repeat-y;}
div.container { background: white;}
li.list-header { 
  font-weight: bold;
  list-style: none; 
  margin-left:0px;  }
 